[submodule "kerep"]
	path = kerep
	url = https://github.com/Timerix22/kerep.git
[submodule "cbuild"]
	path = cbuild
	url = https://github.com/Timerix22/cbuild.git
[submodule "GraphC"]
	path = GraphC
	url = https://github.com/Timerix22/GraphC.git
